@import "../../variables.css";
.container {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: #00000036;
  width: 100vw;
  height: 100vh;
}
.container.is-open {
  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  width: max(30rem, 30vw);
  height: max(20rem, 25vh);
  border-radius: var(--border-radius);
  background-color: var(--white);
}
