.container {
  margin: 0 auto;
  padding: 1.5rem;
  width: max(55rem, 60vw);
}

.actions .delete-button {
  font-size: 1rem;
  padding: 0.35rem 1rem;
  margin: 0rem auto;
}

.form {
  position: relative;
}

.button {
  background: none;
  cursor: pointer;
}
.button-left {
  margin-right: 0.4rem;
}
.button-right {
  margin-left: 0.4rem;
}
.clear-button {
  position: absolute;
  right: 1.5rem;
  bottom: 0.65rem;
}
@media (pointer: fine) {
  .button:hover {
    transform: scale(1.15);
  }
}
/* SECTION */
.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.data-container .create-button {
  width: 12rem;
  height: 8rem;
  margin: 0 0.25rem;
}
.data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0.25rem;
  padding: 1rem;
  padding-bottom: 0;
  width: 23ch;
  height: 15ch;
  border-radius: var(--border-radius);
  background-color: var(--light-blue);
}

.value {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--blue);
}

.text {
  font-size: 0.8rem;
  color: var(--blue);
}
/* FORM */
.form {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form label {
  margin: 0;
}
.select-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 17rem;
}

.select {
  font-size: 0.95rem;
  background: none;
  color: var(--blue);
}

/* TABLE */
.table {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
.thead {
  background-color: var(--blue);
}
.thead th {
  position: relative;
  padding: 0.5rem 0;
  color: var(--white);
  cursor: default;
}

.tbody td {
  padding: 0.75rem;
  cursor: default;
}

.tbody tr:nth-child(even) {
  background-color: #1d64941c;
}

.arrow {
  position: absolute;
  top: 0.5rem;
}

.id {
  max-width: 10vw;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.date {
  max-width: 10vw;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.title {
  max-width: 18vw;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.category {
  max-width: 15vw;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.actions {
  padding: 0;
  width: 13ch;
}
