.Carousel {
  width: 100%;
  min-height: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Carousel * {
  flex: none;
}

.Slide {
  max-width: 100%;
  position: relative;
  margin: 16px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.Slide.Active {
  max-width: 100%;
  display: flex;
  opacity: 1;
}

.Slide img,
.Slide video {
  width: 750px;
  height: 500px;
  border-radius: 16px;
}

.SlideTop {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.SlideTop h1, .SlideTop p {
  color: #0C775D;
  font-weight: bold;
  font-size: 20px;
}

.SlideBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 16px 16px;
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.Slide:hover .SlideBottom {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.Carousel button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #2a9d8f;
  border-radius: 50%;
  font-weight: bold;
  font-size: 3.5rem;
  cursor: pointer;
}

.Carousel button:hover {
  background-color: #83c5be;
}

.NextArrow {
  width: 2.2rem;
  transform: rotate(90deg);
}

.PrevArrow {
  width: 2.2rem;
  transform: rotate(-90deg);
}

.SocialMediaContainer {
  margin-top: 1rem;
  height: 4rem;
}

.SocialMediaContainer img {
  margin-right: 1rem;
  cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}