.formLetter {
    width: 30%;
    float: right;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 3rem 3rem 3rem 0;
    box-shadow: 6px -4px 4px 4px var(--blue); 
  }
  
  .div-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  .inputInscription {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 62%;
    align-self: center;
    text-align: center;
    background-color: rgba(177, 176, 175, 0.374);
  }
  
  .submitBtn {
    background-color: var(--dark-green);
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    align-self: center;
    
  }
  .container-parent-pric{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container-parent{
    max-width: 1200px;
    
  }

  @media screen and (max-width: 900px) {
    .container-parent {
    width: 100%;
      
    }
    
    .formLetter {
     width: 80%;
      margin: 1rem auto;
    }
  }

  
  
  
  
  
  
  