.socialNetworks {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ced4da;
    padding: 0 20px 0 0;
}
.socialNetworks h3 {
    letter-spacing: 2px;
}
.socialNetworks__container {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderSocialNetworks {
    height: 65px;
    width: 65px;
    padding: 3px 0 0 0;
    border: 1px solid #f8f9fa;
    border-radius: 50%;
    transition: 100ms all ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderSocialNetworks:hover {
    transform: scale(1.1);
}
.iconSocialNetworks {
    font-size: 35px;
    color: #f8f9fa;
}
