@import url("../../variables.css");

.detail {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.detail-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.detail-introduction {
  text-align: justify;
  padding-left: 8px;
  border-left: 8px solid var(--dark-green);
  margin-bottom: 1rem;
}

.detail-info {
  display: flex;
  justify-content: space-between;
}

.detail-info_category {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}


.span-diva {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.divImageDetail {
  margin-top: 1rem;
  position: relative;
}

.divImageDetail {
  height: auto;
  max-width: 600px;
}

.p-content {
  padding-top: 1rem;
  text-align: justify;
  padding-bottom: 4rem;
  font-size: 1rem;
}

.labels-container {
  padding: 1rem 0;
  justify-content: space-between;
}

.bsFacebook {
  font-size: 1.5rem;
  color: #007bff;
  margin-right: 1rem;
}

.aiFillTwitterCircle {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #007bff;
}

.ioLogoWhatsapp {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: green;
}

.siGmail {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: red;
}