.container{
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.divContainer{
  /* display: flex; */
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; 
}

.titleContainer{
  margin-bottom: 0.5rem;
  box-shadow: -5px 0 2px -2px #0C4B76; 
}

.titleNewRecomended {
  text-align: start;
  margin: 0.5rem;
  font-size: large;
  font-family: var(--family-font);
}

/* .container-extras{
  padding: 1rem;
  background-color: #0c4c7615;
  margin: 1rem;
}

.link{
  text-decoration: none;
  font-size: 0.5rem;
  background-color: #000000;
}

.image-notiextra{
  max-width: 6rem;
  height: auto;
  padding-right: 0.3rem;
}
.introduction-news{
  font-size: 0.8rem;
} */

.container-extras {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #0c4c7615;
  margin: 1rem;
}

.link {
  text-decoration: none;
  width: 100%;
  font-size: 0.5rem;
  background-color: #00000018;
  display: flex;
  flex-direction: row; 
  
}

.image-container{
  width: 40%;
}

.image-notiextra {
  max-width: 100%;
  height: auto;
  padding-right: 0.3rem;
}

.introduction-container{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.introduction-news {
  font-size: 0.8rem;
  margin-left: 1rem;
}


@media screen and (max-width: 900px) {
  .container {
      float: none;
      height: 50vh;
      width: 80%;
      margin-top: 0;
  }
}