.navBar {
  width: 100%;
  background: rgba(245, 245, 245, 0.966);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background 0.4s;
}
.scrolling {
  background: rgba(243, 243, 243, 0.726);
  height: 80px;
  margin-top: -10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
.container__logo {
  border-radius: 10px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.container__logo:hover{
  transform: scale(1.1);
}
.container__items {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item {
  text-decoration: none;
  text-decoration: none;
  color: green;
  letter-spacing: 2.5px;
  transition: 0.3s;
}
.item:hover {
  color: rgb(0, 70, 0);
  transform: translateY(3px);
}

.donate {
  text-decoration: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #376b15 0%,
    #31640f 51%,
    #244d09 100%
  );
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 25px;
  display: block;
  letter-spacing: 1px;
  transition: 0.3s;
}

.donate:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transform: translateY(3px);
}

.visible {
  display: inline-block;
}
.invisible {
  display: none;
}