.carousel {
  position: relative;
  /* border: 1px solid red; */
}
/* .carousel:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
} */

/*----------Landing----------*/
.landing {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  top: 40%;
  z-index: 2;
  background-color: #00000090;
  margin-top: 20%;
  padding: 10px 40px 10px 40px;
}
.landing p {
  width: 50%;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}
.buttonWe {
  margin-top: 1rem;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 30px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    #0C775D 0%,
    #0a5c47 51%,
    #085542 100%
  );
  transition: 0.3s;
}
.buttonWe:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: translateY(3px);
}
.buttonWe a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}
.buttonWe a div {
  color: white;
}