.Banner {
  background-color: #0c4b76;
  height: 12.8vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
}

.Banner > div {
  display: flex;
  align-items: center;
}

.Banner img {
  height: 6rem;
}

.Banner h1 {
  font-family: var(--font-family);
  margin-left: 2rem;
  width: 13.6rem;
  text-align: center;
  font-size: 1.8rem;
  color: white;
}

.Banner h2 {
  font-family: var(--font-family);
  font-weight: 500;
  color: white;
}
