.fondoModalNewsletter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.541);
  z-index: 3;
}

.modalNewsletter {
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  z-index: 4;
}

.textNewsletter_title {
  font-size: 36px;
  font-weight: bold;
  color: var(--dark-green);
}

.textNewsletter_subtitle {
  padding: 8px 0;
  font-size: 18px;
  color: var(--gray);
}

.formNewsletter {
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.inputInscription {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease-in-out;
}

.inputInscription:focus {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  outline: none;
}

.submitBtn {
  background-color: var(--dark-green);
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.closeBtn {
  width: auto;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media (min-width: 1200px) {
  .inputInscription {
    margin-right: 5px;
  }
  .submitBtn {
    margin-right: 10px;
  }
}