.fondoModalNewsletter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.541);
  z-index: 3;
}

.modalNewsletter {
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  z-index: 4;
}

.textNewsletter_title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: var(--dark-green);
}

.textNewsletter_subtitle {
  text-align: center;
  text-justify: distribute;
  padding: 8px 0;
  font-size: 18px;
  color: var(--gray);
}

.formNewsletter {
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.containerNewsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputInscription {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease-in-out;
}

.inputInscription:focus {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  outline: none;
}

.errorText {
  color: var(--red);
  font-weight: bold;
}

.closeBtn {
  width: auto;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.subscribeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeBtn {
  width: 80%;
  background-color: var(--dark-green);
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.subscribeBtn:hover {
  transform: scale(1.01);
}

.subscribeCount {
  margin-top: 10px;
  font-size: 14px;
  color: var(--gray);
}

.subscribeNumber {
  font-weight: bold;
  color: var(--dark-green);
}

@media (min-width: 768px) {
  .formNewsletter {
    padding: 0 10%;
  }
}