@import "../../../../variables.css";

.container {
  margin: 0 auto;
  width: 100%;
  width: max-content;
  height: auto;
}
.container p {
  width: 32.25rem;
  margin-left: 1.5rem;
  margin-bottom: -0.75rem;
}
.container span {
  font-weight: 700;
}

.audio-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: auto;
}
.audio {
  width: 35rem;
}

.delete-btn {
  margin-left: 1rem;
  background: none;
  cursor: pointer;
}
@media (pointer: fine) {
  .delete-btn:hover {
    transform: scale(1.15);
  }
}
