.communities {
    padding: 50px 0;
}
.introduction {
    text-align: center;
    margin: 0 auto 10px auto;
    width: 850px;
}
.containerCommunities {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    border-radius: 15px;
    background: #a8dadc;
}

/*Contenedor noticia principal*/
.containerNews {
    border: 1px solid chocolate;
    width: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerImage {
    width: 450px;
    border-radius: 15px;
    overflow: hidden;
}
.image {
    height: 450px;
    width: 450px;
    object-fit: cover;
}
.containerText {
    height: 140px;
    width: 450px;
}
.containerText p {
    height: 50px;
    overflow: hidden;
}


.labels {
    border: 1px solid red;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.linkText {
    padding: 10px 15px;
    text-decoration: none;
    background: #2a9d8f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


/*Contenedor noticias secundarias*/
.secondary {
    border: 1px solid yellow;
    width: 500px;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.containerSecondary {
    height: 315px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.containerImageSecondary {
    height: 240px;
    width: 240px;
    border-radius: 20px;
    overflow: hidden;
}
.imageSecondary {
    height: 240px;
    object-fit: cover;
}
.textSecundary {
    height: 240px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.textSecundary h2 {
    height: 130px;
    overflow: hidden;
}
.textSecundary p {
    height: 90px;
    overflow: hidden;
}
